
@using LicentaPrototip.Models;

@{
    ViewBag.Title = "Control temperatura";
}
@model MyHouseModel

<br>
<h2>Control temperatura</h2>
<br>

<div class="form-group row">
    <div class="form-group row">
        @Html.LabelFor(model => model.Temperature, "Temperatura curenta")
        <div class="col-md-3">
            @Html.EditorFor(model => model.Temperature, new { htmlAttributes = new { @id = "tempBox", @readonly = "readonly", @onchange = "CheckLimits()" } })
        </div>
    </div>
</div>
<br>
<div class="form-group row">
    <div class="row-cols-md-7">
        <button class="btn btn-secondary" id="decTemp" onclick="DecreaseTemp()">Scade temperatura</button>
        @Html.EditorFor(model => model.CurrentSetTemperature, new { htmlAttributes = new { @id = "tempSet", @readonly = "readonly" } })
        <button class="btn btn-secondary" id="incTemp" onclick="IncreaseTemp()">Creste temperatura</button>
    </div>
</div>
<br>

<div class="form-group row">
    <div class="row-cols-md-7">
        <li class="btn btn-secondary">@Html.ActionLink("Istoric temperatura", "ShowGraph", "Temperature", null, new { @class = "nav-link" })</li>
    </div>
</div>
<br>
<div class="form-group row">
    @Html.LabelFor(model => model.LowLimitTemperature, "Temperatura limita inferioara")
    <div class="col-md-3">
        @Html.EditorFor(model => model.LowLimitTemperature, new { htmlAttributes = new { @id = "lowLimit", @min = 18, @max = 30, @onchange = "SetLowLimit()" } })
        @Html.ValidationMessageFor(model => model.LowLimitTemperature, "Limita inferioara trebuie sa fie mai mica decat cea superioara!", new { @class = "text-danger", @id = "lowLimitError" })
    </div>
</div>
<br>
<div class="form-group row">
    @Html.LabelFor(model => model.HighLimitTemperature, "Temperatura limita superioara")
    <div class="col-md-3">
        @Html.EditorFor(model => model.HighLimitTemperature, new { htmlAttributes = new { @id = "highLimit", @min = 18, @max = 30, @onchange = "SetHighLimit()" } })<br>
        @Html.ValidationMessageFor(model => model.HighLimitTemperature, "Limita superioara trebuie sa fie mai mare decat cea inferioara!", new { @class = "text-danger", @id = "highLimitError" })
    </div>
</div>

