@using Microsoft.AspNet.Identity
@if (Session["Name"] != null)
{


    @*<ul class="nav navbar-nav navbar-right">
        @Html.Label("Hello " + Session["Name"] + "!", new { @class = "navbar-brand" })
        <li class="btn btn-secondary">@Html.ActionLink("Log off", "LogOff", "Account", routeValues: null, htmlAttributes: new { id = "logoffLink" })</li>
    </ul>*@
<div class="btn-group" role="group" aria-label="AuthentificationButtons">
    <li class="btn btn-secondary">@Html.ActionLink("Log off", "LogOff", "Account", routeValues: null, htmlAttributes: new { id = "logoffLink" })</li>
    @if (Session["admin"].ToString() == bool.TrueString)
    {
        <li class="btn btn-secondary">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    }
</div>
}
else
{
    @*<ul class="form-inline my-2 my-lg-0">*@
    <div class="btn-group" role="group" aria-label="AuthentificationButtons">
        <li class="btn btn-secondary">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        @*<li class="btn btn-secondary">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
    </div>
}
