@using LicentaPrototip.Models

@{
    ViewBag.Title = "MyHouse";
}

<br>
<h2>Hello @Session["Name"]!</h2>
<br>

<li class="btn btn-secondary">@Html.ActionLink("Lumini", "Index", "Lights", null, new { @class = "nav-link" })</li>
@if (Session["adult"].ToString() == bool.TrueString)
{
    <li class="btn btn-secondary">@Html.ActionLink("Porti", "Index", "Motors", null, new { @class = "nav-link" })</li>
}
<li class="btn btn-secondary">@Html.ActionLink("Temperatura", "Index", "Temperature", null, new { @class = "nav-link" })</li>
@if (Session["adult"].ToString() == bool.TrueString)
{
    <li class="btn btn-secondary">@Html.ActionLink("Alarma", "Index", "Alarm", null, new { @class = "nav-link" })</li>
}

