@using LicentaPrototip.Models;

@{
    ViewBag.Title = "Control Lumini";

}
@model MyHouseModel

<br>
<h2>Control lumini</h2>
<br>

<div class="form-group row">
    <button class="btn btn-secondary" id="intLedGround" onclick="GroundLed()">Aprinde lumina parter</button>
    <button class="btn btn-secondary" id="intLedFloor" onclick="FloorLed()">Aprinde lumina etaj</button>
</div>
    <div class="form-group row">
            @Html.Label("Intensitate lumina LED")
        <div class="col-md-3">
            @if (Model.IsLedIntensityAutomatic)
            {
                <input id="intensityLedRange" type="range" min="0" max="1023" onchange="SetIntensity()" disabled="disabled"/>
            }
            else
            {
                <input id="intensityLedRange" type="range" min="0" max="1023" onchange="SetIntensity()" />
            }
        </div>
    </div>
    <div class="form-group row">
        @Html.Label("Setare intensitate lumina automata")
        <div class="col-md-3">
            @if (Model.IsLedIntensityAutomatic)
            {
                <input id="AutomaticLedsCheckBox" type="checkbox" onchange="SetAutomaticIntensity()" checked="checked"/>
            }
            else
            {
                <input id="AutomaticLedsCheckBox" type="checkbox" onchange="SetAutomaticIntensity()" />
            }
        </div>
    </div>

<script type="text/javascript">

    function GroundLed() {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GroundLed")',
            data: { status: @Model.IsGroundLedOn.ToString().ToLower() }
        });
    }

    function FloorLed() {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("FloorLed")',
            data: { status: @Model.IsFloorLedOn.ToString().ToLower() }
        });
    }

    function SetIntensity() {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("SetIntensity")',
            data: { intensity: $("#intensityLedRange").val() }
        });
    };


    function SetAutomaticIntensity() {
        if ($("#intensityLedRange").attr("disabled") == "disabled") {
            $("#intensityLedRange").prop('disabled', false)
        }
        else {
            $("#intensityLedRange").prop('disabled', true)
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Action("SetAutomaticIntensity")'
        });
    };
</script>