@using LicentaPrototip.Models;

@{
    ViewBag.Title = "Control Lumini";

}
@model MyHouseModel

<br>
<h2>Control lumini</h2>
<br>

    <div class="form-group row">
        <button class="btn btn-secondary" id="intLed" onclick="Led()">Aprinde lumina</button>
    </div>
    <div class="form-group row">
            @Html.Label("Intensitate lumina LED")
        <div class="col-md-3">
            @if (Model.IsLedIntensityAutomatic)
            {
                <input id="intensityLedRange" type="range" min="0" max="1023" onchange="SetIntensity()" disabled="disabled"/>
            }
            else
            {
                <input id="intensityLedRange" type="range" min="0" max="1023" onchange="SetIntensity()" />
            }
        </div>
    </div>
    <div class="form-group row">
        @Html.Label("Setare intensitate lumina automata")
        <div class="col-md-3">
            @if (Model.IsLedIntensityAutomatic)
            {
                <input id="AutomaticLedsCheckBox" type="checkbox" onchange="SetAutomaticIntensity()" checked="checked"/>
            }
            else
            {
                <input id="AutomaticLedsCheckBox" type="checkbox" onchange="SetAutomaticIntensity()" />
            }
        </div>
    </div>

@*@Html.EditorFor(model => model.Temperature, new { htmlAttributes = new { @id = "tempBox"} })
<button class="btn btn-secondary" id="showTemp" onclick="Temp()">Afisare temperatura</button>*@

<script type="text/javascript">

    @*$("#showTemp").click(
        function (e) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ShowTemp")',
                success: function (results) {
                    var temp = $("#tempBox");
                    temp.empty();

                    $.each(results, function () {
                        login.val(this.ID).text(this.Value);
                    });
                }
            });
        });*@
    /*src = "http://code.jquery.com/jquery-1.11.0.min.js"*/

    function Temp() {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("ShowTemp")',
                success: function (data) {
                    showTemp(data);
                }
            });
    }

    function showTemp(data) {
         $('#tempBox').val(data);
    }

    function Led() {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("ToggleLed")'
            });
    }

    function SetIntensity() {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("SetIntensity")',
            data: { intensity: $("#intensityLedRange").val() }
        });
    };


    function SetAutomaticIntensity() {
        if ($("#intensityLedRange").attr("disabled") == "disabled") {
            $("#intensityLedRange").prop('disabled', false)
        }
        else {
            $("#intensityLedRange").prop('disabled', true)
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Action("SetAutomaticIntensity")'
        });
    };
</script>